ion-back-button{
    position: absolute;
    z-index: 500;
}

ion-toolbar{
    --ion-background-color: #E1EAF9;
    --opacity: 0;
}

ion-content{
    --ion-background-color: #E1EAF9;
}

ion-card{
    width: 100%;
    background-color: #E1EAF9;
    box-shadow: none;
}

ion-label{
    color: #647B9D;
}

ion-item{
    color: #647B9D;
    --highlight-background: #647B9D;
}

ion-button{
    max-width: 50%;
}

.buttonwrap{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}