<ion-header>
  <ion-back-button defaulthref="loginscreen" text=""></ion-back-button>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header1.png"></ion-img>
  </ion-card>
  <ion-card class="ion-no-padding ion-no-margin">
    <ion-card-title>
      <ion-label position="floating">Esqueci minha senha</ion-label>
    </ion-card-title>
    <ion-item color="E1EAF9">
      <ion-label position="floating">E-mail</ion-label>
      <hr>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <div class="buttonwrap"><ion-button expand="block" (click)="resetPassword()">Redefinir Senha</ion-button></div>
  </ion-card>
</ion-content>