ion-content{
    --ion-background-color: #7e8e96;
}

.containerWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-button{
    --background: #444444;
}

.btn{
    text-align: center;
    margin-top: 25px;
    ion-button{
        height: 50px;
    }
}

ion-back-button{
    position: fixed;
}