<!DOCTYPE html>
<ion-header class="ion-no-border">
  <ion-back-button text=""></ion-back-button>
</ion-header>
<ion-content>
  <div class="containerWrap">
    <ion-button expand="full" *ngIf="!isLoading && !isLoaded">
      <ion-icon slot="start" lazy="true" name="image"></ion-icon>
      <input type="file" (change)="uploadImagetoFirebase($event)" id="file-input" accept="image/png, image/jpg">
    </ion-button>
    <ion-card *ngIf="isLoading && !isLoaded">
      <ion-card-content class="ion-text-center">
        Progress: {{percent | number}}%
        <ion-progress-bar [value]="percent / 100">
        </ion-progress-bar>
        <ion-button class="ion-text-center btn" (click)="goToNextPage()" shape="round" fill="clear">Continuar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

