ion-header{
    background-color: #E1EAF9;
    box-shadow: none;
    color: #647B9D;
}

ion-toolbar{
    --ion-background-color: #E1EAF9;
    --opacity: 0;
}

ion-content{
    --ion-background-color: #E1EAF9;
}

ion-item{
    color: #647B9D;
    text-align: center;
    box-shadow: #647B9D;
}

.mostraBFAF{
    background-color: #E1EAF9;
}

.title{
    font-size: 25px;
    text-align: center;
    color: #647B9D;
    background-color: #E1EAF9;
}

ion-card{
    background-color: #E1EAF9;
    box-shadow: none;
}

.orientacoes{
    background-color: #E1EAF9;
    color: #647B9D;
}

.divModal{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

h6{
    word-wrap: break-word;
    text-align: justify;
    margin: 5px;
}

ion-buttons{
    justify-content: center;
}

.buttonVoltar{
    font-size: 17px;
    margin-top: 5px;
}

.radioList{
    background-color: #E1EAF9;
    width: 100%;
    text-align: left;
    display: flex;
}

ion-radio-group{
    background-color: #E1EAF9;
    width: 100%;
}

ion-item{
    text-align: left;
}

ion-text{
    margin-bottom: 10px;
}

.text-tag{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    span{
        font-size: 13px;
        font-weight: normal;
        color:#898585;
    }
}

ion-card-content{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.bfFinais{
    font-size: 17px;
    text-align: center;
}

.buttonWrap{
    text-align: center;
    padding-top: 20px;
    .sign-btn{
        width: 30%;
        max-width: 100px;
        --ion-primary-color: #215AB7;
        color: #FAF6FA;
        --background-activated: #E1EAF9;
        --background-focused: #E1EAF9;
        --background-hover: #647B9D;
        border-radius: 25px;
        --background: #215AB7;
    }
}

.green {
    color: green;
  }
  
  .red {
    color: red;
  }
  
  .blue {
    color: blue;
  }

  .textoExtra{
    text-align: center;
    font-size: 17px;
    margin-bottom: 2px;
  }