<!--<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.png"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Bem-vindo
      </ion-card-title>
      <ion-card-subtitle class="ion-text-lowercase">
        Esse aplicativo é utilizado para a análise de adesão de fármacos ao tratamento de doenças crônicas
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="signin-btns">
        <ion-button size="small" fill="solid" shape="round" class="loginbtn" (click)="gotoLoginPage()">
          Login
        </ion-button>
        <ion-button size="small" fill="outline" shape="round" class="loginbtn" (click)="registerUser()">
          Inscreva-se
        </ion-button>
      </div>

    </ion-card-content>

  </ion-card>
</ion-content>-->
<ion-content class="content-background">
  <div class="background-image"></div>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>Bem-vindo</ion-card-title>
      <ion-card-subtitle class="ion-text-lowercase">
        Esse aplicativo é utilizado para a análise de adesão de fármacos ao tratamento de doenças crônicas
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="signin-btns">
        <ion-button size="small" fill="solid" shape="round" class="loginbtn" (click)="gotoLoginPage()">
          Login
        </ion-button>
        <ion-button size="small" fill="outline" shape="round" class="registerbtn" (click)="registerUser()">
          Inscreva-se
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>


